.formValidationJs .have-success {
    border: 1px solid #1ba33d;
}

.formValidationJs .have-error {
    border: 1px solid #e42424;
}

.formValidationJs .this-error {
    color: #e42424;
    font-size: 12px;
}